<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.team.core.bundleImporters">
    <importer
           id="org.eclipse.egit.core.importer"
           name="%gitBundleImporter"
           repository="org.eclipse.egit.core.internal.GitProvider">
        <supports
              prefix="scm:git:">
        </supports>
     </importer>
   </extension>
   <extension
         point="org.eclipse.team.ui.scmUrlImportPages">
      <scmUrlImportPage
            importer="org.eclipse.egit.core.importer"
            page="org.eclipse.egit.internal.importing.GitScmUrlImportWizardPage">
      </scmUrlImportPage>
   </extension>
</plugin>
