[project]
	description = Eclipse Git Team Provider (technology.egit)
	state = active
[receive]
	requireChangeId = true
[access "refs/heads/*"]
	forgeAuthor = group ldap/technology.egit
	label-Code-Review = -2..+2 group ldap/technology.egit
	label-IP-Clean = -1..+1 group ldap/technology.egit
	label-Verified = -1..+1 group ldap/technology.egit
	submit = group ldap/technology.egit
	create = group ldap/technology.egit
	abandon = group ldap/technology.egit
	push = group ldap/technology.egit
	pushMerge = group ldap/technology.egit
[access "refs/tags/*"]
	pushTag = group ldap/technology.egit
[access "refs/*"]
	owner = group Administrators
