[project]
	description = Eclipse Git Team Provider (technology.egit)
[receive]
	requireChangeId = true
[access "refs/heads/*"]
	forgeAuthor = group technology.egit
	label-Code-Review = -2..+2 group technology.egit
	label-IP-Clean = -1..+1 group technology.egit
	label-Verified = -1..+1 group technology.egit
	submit = group technology.egit
	create = group technology.egit
[access "refs/tags/*"]
	pushTag = group technology.egit
[access "refs/*"]
	owner = group Administrators
