[project]
	description = Eclipse Git Team Provider (technology.egit)
[receive]
	requireChangeId = true
[access]
	inheritFrom = permissions/egit-dev
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	invalidFilenamePattern = ^tools/jenkins/.*
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
