<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="egit-4.30" sequenceNumber="1697197802">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="eclipse-public-license" location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
      <repository id="swtbot-snapshot" location="https://download.eclipse.org/technology/swtbot/snapshots/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.jcraft.jsch" version="0.1.55.v20230916-1400"/>
      <unit id="com.jcraft.jsch.source" version="0.1.55.v20230916-1400"/>
      <unit id="com.jcraft.jzlib" version="1.1.3.v20230916-1400"/>
      <unit id="com.jcraft.jzlib.source" version="1.1.3.v20230916-1400"/>
      <unit id="jakarta.activation-api" version="2.1.2"/>
      <unit id="jakarta.activation-api.source" version="2.1.2"/>
      <unit id="jakarta.annotation-api" version="1.3.5"/>
      <unit id="jakarta.annotation-api.source" version="1.3.5"/>
      <unit id="jakarta.xml.bind-api" version="2.3.3"/>
      <unit id="jakarta.xml.bind-api.source" version="2.3.3"/>
      <unit id="jakarta.inject.jakarta.inject-api" version="1.0.5"/>
      <unit id="jakarta.inject.jakarta.inject-api.source" version="1.0.5"/>
      <unit id="net.i2p.crypto.eddsa" version="0.3.0"/>
      <unit id="net.i2p.crypto.eddsa.source" version="0.3.0"/>
      <unit id="org.apache.ant" version="1.10.14.v20230922-1200"/>
      <unit id="org.apache.ant.source" version="1.10.14.v20230922-1200"/>
      <unit id="org.apache.commons.commons-io" version="2.14.0"/>
      <unit id="org.apache.commons.commons-io.source" version="2.14.0"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.commons.logging.source" version="1.2.0"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.5.14"/>
      <unit id="org.apache.httpcomponents.httpclient.source" version="4.5.14"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.4.16"/>
      <unit id="org.apache.httpcomponents.httpcore.source" version="4.4.16"/>
      <unit id="org.eclipse.jetty.servlet-api" version="4.0.6"/>
      <unit id="org.eclipse.orbit.maven.lucene.feature.group" version="4.30.0.v20230929-1030"/>
      <unit id="org.eclipse.orbit.xml-apis-ext" version="1.0.0.v20230923-0644"/>
      <unit id="org.hamcrest" version="2.2.0"/>
      <unit id="org.hamcrest.source" version="2.2.0"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20230809-1000"/>
      <unit id="org.hamcrest.core.source" version="1.3.0.v20230809-1000"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20230809-1000"/>
      <unit id="org.hamcrest.library.source" version="1.3.0.v20230809-1000"/>
      <unit id="org.junit" version="4.13.2.v20230809-1000"/>
      <unit id="org.junit.source" version="4.13.2.v20230809-1000"/>
      <unit id="org.mortbay.jasper.apache-jsp" version="9.0.52"/>
      <unit id="org.objenesis" version="3.3.0"/>
      <unit id="org.objenesis.source" version="3.3.0"/>
      <unit id="org.objectweb.asm" version="9.5.0"/>
      <unit id="org.objectweb.asm.source" version="9.5.0"/>
      <unit id="org.objectweb.asm.tree" version="9.5.0"/>
      <unit id="org.objectweb.asm.tree.source" version="9.5.0"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.5.0"/>
      <unit id="org.objectweb.asm.tree.analysis.source" version="9.5.0"/>
      <unit id="org.objectweb.asm.util" version="9.5.0"/>
      <unit id="org.objectweb.asm.util.source" version="9.5.0"/>
      <unit id="org.osgi.service.cm" version="1.6.1.202109301733"/>
      <unit id="org.osgi.service.cm.source" version="1.6.1.202109301733"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/milestone/latest"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="biz.aQute.bnd.util" version="0.0.0"/>
      <unit id="biz.aQute.bndlib" version="0.0.0"/>
      <unit id="org.apache.commons.jxpath" version="0.0.0"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.director" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.emf.ui" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.services" version="0.0.0"/>
      <unit id="org.eclipse.e4.ui.progress" version="0.0.0"/>
      <unit id="org.eclipse.e4.ui.workbench" version="0.0.0"/>
      <unit id="org.eclipse.search.core" version="0.0.0"/>
      <unit id="org.osgi.service.repository" version="0.0.0"/>
      <unit id="org.sat4j.core" version="0.0.0"/>
      <unit id="org.sat4j.pb" version="0.0.0"/>
      <unit id="org.eclipse.tools.layout.spy" version="0.0.0"/>
      <repository location="https://download.eclipse.org/staging/2023-12"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="osgi">
    <dependencies>
    	<dependency>
    		<groupId>org.osgi</groupId>
    		<artifactId>org.osgi.annotation.bundle</artifactId>
    		<version>2.0.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.osgi</groupId>
    		<artifactId>org.osgi.annotation.versioning</artifactId>
    		<version>1.1.2</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.osgi</groupId>
    		<artifactId>org.osgi.service.component.annotations</artifactId>
    		<version>1.5.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.osgi</groupId>
    		<artifactId>org.osgi.service.metatype.annotations</artifactId>
    		<version>1.4.1</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="xz">
    <dependencies>
    	<dependency>
    		<groupId>org.tukaani</groupId>
    		<artifactId>xz</artifactId>
    		<version>1.9</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="slf4j">
    <dependencies>
    	<dependency>
    		<groupId>org.slf4j</groupId>
    		<artifactId>slf4j-api</artifactId>
    		<version>1.7.36</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.slf4j</groupId>
    		<artifactId>slf4j-simple</artifactId>
    		<version>1.7.36</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="sshd">
    <dependencies>
    	<dependency>
    		<groupId>org.apache.sshd</groupId>
    		<artifactId>sshd-osgi</artifactId>
    		<version>2.10.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.apache.sshd</groupId>
    		<artifactId>sshd-sftp</artifactId>
    		<version>2.10.0</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="mockito">
    <dependencies>
    	<dependency>
    		<groupId>org.mockito</groupId>
    		<artifactId>mockito-core</artifactId>
    		<version>5.5.0</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="jna">
    <dependencies>
    	<dependency>
    		<groupId>net.java.dev.jna</groupId>
    		<artifactId>jna</artifactId>
    		<version>5.13.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>net.java.dev.jna</groupId>
    		<artifactId>jna-platform</artifactId>
    		<version>5.13.0</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="jetty">
    <dependencies>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-http</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-io</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-security</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-server</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-servlet</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-util</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty</groupId>
    		<artifactId>jetty-util-ajax</artifactId>
    		<version>10.0.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>jakarta.servlet</groupId>
    		<artifactId>jakarta.servlet-api</artifactId>
    		<version>4.0.4</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="javaewah">
    <dependencies>
    	<dependency>
    		<groupId>com.googlecode.javaewah</groupId>
    		<artifactId>JavaEWAH</artifactId>
    		<version>1.2.3</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="gson">
    <dependencies>
    	<dependency>
    		<groupId>com.google.code.gson</groupId>
    		<artifactId>gson</artifactId>
    		<version>2.10.1</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="bytebuddy">
    <dependencies>
    	<dependency>
    		<groupId>net.bytebuddy</groupId>
    		<artifactId>byte-buddy</artifactId>
    		<version>1.14.7</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>net.bytebuddy</groupId>
    		<artifactId>byte-buddy-agent</artifactId>
    		<version>1.14.7</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="bouncycastle">
    <dependencies>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcpg-jdk18on</artifactId>
    		<version>1.76</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcprov-jdk18on</artifactId>
    		<version>1.76</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcpkix-jdk18on</artifactId>
    		<version>1.76</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcutil-jdk18on</artifactId>
    		<version>1.76</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="assertj">
    <dependencies>
    	<dependency>
    		<groupId>org.assertj</groupId>
    		<artifactId>assertj-core</artifactId>
    		<version>3.24.2</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="args4j">
    <dependencies>
    	<dependency>
    		<groupId>args4j</groupId>
    		<artifactId>args4j</artifactId>
    		<version>2.33</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="apache">
    <dependencies>
    	<dependency>
    		<groupId>commons-codec</groupId>
    		<artifactId>commons-codec</artifactId>
    		<version>1.15</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.apache.commons</groupId>
    		<artifactId>commons-compress</artifactId>
    		<version>1.23.0</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
  </locations>
</target>
