<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
   Copyright (C) 2012, Matthias Sohn <matthias.sohn@sap.com>

   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
-->
<?pde version="3.6"?>
<target name="egit-4.2.target" sequenceNumber="53">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://archive.eclipse.org/jetty/updates/jetty-bundles-7.x/7.6.0.v20120127/"/>
      <unit id="org.eclipse.jetty.client" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.client.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.continuation" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.continuation.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.http" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.http.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.io" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.io.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.security" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.security.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.server" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.server.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.servlet" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.servlet.source" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.util" version="7.6.0.v20120127"/>
      <unit id="org.eclipse.jetty.util.source" version="7.6.0.v20120127"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
      <unit id="org.apache.ant.source" version="1.8.2.v20120109-1030"/>
      <unit id="org.apache.ant" version="1.8.2.v20120109-1030"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
      <unit id="org.kohsuke.args4j" version="2.0.12.v200910131500"/>
      <unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
      <unit id="org.objenesis" version="1.0.0.v201105211943"/>
      <unit id="org.objenesis.source" version="1.0.0.v201105211943"/>
      <unit id="org.mockito" version="1.8.4.v201102171835"/>
      <unit id="org.mockito.source" version="1.8.4.v201102171835"/>
      <unit id="com.jcraft.jsch" version="0.1.44.v201101211721"/>
      <unit id="com.jcraft.jsch.source" version="0.1.44.v201101211721"/>
      <unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
      <unit id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
      <unit id="com.google.protobuf" version="2.4.0.v201105131100"/>
      <unit id="com.google.protobuf.source" version="2.4.0.v201105131100"/>
      <unit id="javax.servlet" version="2.5.0.v201103041518"/>
      <unit id="javax.servlet.source" version="2.5.0.v201103041518"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <!-- TODO replace this with an S- or better R-build as soon as a new one is available
           we are using a private copy of an I-build since no S or R-build was available when
           releasing jgit 2.2, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=396199 -->
      <repository location="http://download.eclipse.org/jgit/orbit/I20121212174845/repository"/>
      <unit id="org.apache.commons.compress" version="1.3.0.v201212111400"/>
      <unit id="org.apache.commons.compress.source" version="1.3.0.v201212111400"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/technology/swtbot/snapshots/"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/releases/staging/"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.ide_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.team_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.context_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
    </location>
  </locations>
</target>
