<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="4.24-2022-06" sequenceNumber="1668891723">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.concurrent" version="0.0.0"/>
      <unit id="org.eclipse.tools.layout.spy" version="0.0.0"/>
      <repository location="https://download.eclipse.org/staging/2022-09/"/>
    </location>
  </locations>
</target>
