<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="4.30-2023-12" sequenceNumber="1697196370">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="biz.aQute.bnd.util" version="0.0.0"/>
      <unit id="biz.aQute.bndlib" version="0.0.0"/>
      <unit id="org.apache.commons.jxpath" version="0.0.0"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.director" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.emf.ui" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.services" version="0.0.0"/>
      <unit id="org.eclipse.e4.ui.progress" version="0.0.0"/>
      <unit id="org.eclipse.e4.ui.workbench" version="0.0.0"/>
      <unit id="org.osgi.service.repository" version="0.0.0"/>
      <unit id="org.sat4j.core" version="0.0.0"/>
      <unit id="org.sat4j.pb" version="0.0.0"/>
      <unit id="org.eclipse.tools.layout.spy" version="0.0.0"/>
      <repository location="https://download.eclipse.org/staging/2023-12"/>
    </location>
  </locations>
</target>
