<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.egit.ui.commitMessageProvider">
      <commitMessageProvider
            class="org.eclipse.egit.internal.mylyn.ui.commit.MylynCommitMessageProvider">
      </commitMessageProvider>
   </extension>
   <extension
         point="org.eclipse.mylyn.team.ui.changeSets">
      <activeChangeSetProvider
            class="org.eclipse.egit.internal.ui.changesets.GitActiveChangeSetProvider">
      </activeChangeSetProvider>
   </extension>
</plugin>
