<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="mergeStrategy" name="%MergeStrategy-extension-point.name" schema="schema/mergeStrategy.exsd"/>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.egit.core.GitCorePreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.repository">
	<repository
       class="org.eclipse.egit.core.GitProvider"
       id="org.eclipse.egit.core.GitProvider"
       typeClass="org.eclipse.egit.core.internal.GitRepositoryProviderType">
	</repository>
  </extension>
  <extension
        point="org.eclipse.team.core.ignore">
     <ignore
           enabled="true"
           pattern=".git"/>
     <ignore
           enabled="true"
           pattern="*/.git/*"/>
  </extension>
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           file-extensions="patch"
           id="org.eclipse.egit.patch"
           name="%patch_ContentTypeName"
           priority="normal">
     </content-type>
  </extension>
</plugin>
